

.container-fluid img{
    width: 50px;
}
.container-fluid i{
    margin-left: 800px;
}
.container-fluid button{
   margin-left: 20px;
}
.img-1{
    height: 100%;
    width: 100%;
}
.img-2{
    height: 100%;
    width: 100%;
}


